
<ion-card>
	<ion-card-content>
		<ion-grid>
			<ion-row>
				<ion-col><strong>Nombre:</strong></ion-col>
				<ion-col>{{alumnoDetalle.nombre}} {{alumnoDetalle.apellido}}</ion-col>
			</ion-row>
		<ion-row>
			<ion-col><strong>Matricula: </strong></ion-col>
			<ion-col>{{alumnoDetalle.matricula}}</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button (click)="mostrarActionSheet()">Mostrar Action Sheet</ion-button>
			</ion-col>
		</ion-row>
		</ion-grid>
	</ion-card-content>
</ion-card>