<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Información de los alumnos</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Información de los alumnos</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-list>
		<ion-item *ngFor="let alumno of alumnos" [routerLink]="['/alumno-detalle', alumno.matricula]">
			<ion-img class="icono-lista" src="assets/logo-fcfm.jpg"></ion-img>
			<ion-label>{{alumno.nombre}}</ion-label>
		</ion-item>
	</ion-list>
</ion-content>